html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

form {
    margin: 0;
}

.loginBtn {
    max-width: 100px;
}

.formAdmin {
    max-width: 400px;
    padding: 0 15px;
    margin: 0 auto;
}

.formQ {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

.border-q {
    border: 2px solid #374785;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #a8d0e6;
}

.header {
    background: #24305e;
}

.content {
    flex-grow: 1;
}

@media (max-width: 768px) {
    .main-image {
        width: 60%;
    }
}